h1,
h3 {
  text-align: center;
  padding: 15px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;
}

main,
footer {
  padding: 10px;
}

.project-headers {
  text-decoration: underline;
  text-align: center;
  padding: 20px;
  font-style: italic;
}

.hrefs-spacing {
  padding: 10px;
}

header,
footer {
  background-color: #f1f1f1;
  padding: 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
}
.headerlinks {
  text-align: center;
}

.grid-alignment {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
}

.grid-alignment p {
  max-width: 500px;
  margin: 0 auto;
}

.grid-alignment div {
  padding: 15px;
  border: 3px solid black;
  margin: 10px;
  border-radius: 15px;
}
footer p {
  text-align: center;
  text-decoration: black;
  font-size: medium;
  font-style: italic;
  font-weight: bold;
}

.grid-alignment li {
  padding: 5px;
}
